doctype html
html
    head
        title Sportsblog
        link(rel='stylesheet' href='/assets/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        block content

        hr
        footer
            .container
                Copyright &copy; 2020, SportsBlog
        script(src='/assets/vendor/jquery/jquery.min.js')
        script(src='/assets/vendor/bootstrap/js/bootstrap.min.js')
        script(src='/js/main.js')

        
